body {
    font-family:'Courier New', Courier, monospace;
  }
.head {   
    background-color: #edf2f4;    
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: row;

}
main{
    padding-top: 8%;
}
body{
    background-color: #ffffff;
}
.name{
    display: flex;
    flex-direction: row;
}
.name_1{
    color: #000000;
    padding-top: 17%;
}
.buttnsInHeader{
    margin: 1%;
    padding-top: 1%;
    margin-left: 10%;
}
.imageInHeader{
    margin-left: 40%;
}
.header_links{
    font-size: 20px;
    color:#000000;
    display: inline-block;
    text-decoration: none;
    margin-right: 10%;
    transition: 0.1s;
    border-bottom: 0 solid #000000;
}
.links_div{
    margin-top: 1.3%;
    width: 140%;
    padding-left: 27%;
}
.Button_link{
    border-radius: 30px;
}
.header_links:hover{
    color:#000000;
    border-bottom-width: 1px;
}
.main{
    display: flex;
    justify-content: center;
    background-color: #edf2f4;
    margin-top: 6%;
    flex-direction: column;
}
.main_info{
    border-radius: 20px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info{
    font-family:'Courier New', Courier, monospace;
    width: 40%;
    font-size: 25px;
    margin-right: 10%;
}
.foto_info_jpg{
    border-radius: 20px;
}
.foto_avtor{
    border-radius: 100%;
}
.quote_div{
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    width: 70%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 15.7%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.avtor{
    flex-direction: column;
}
.quote{
    font-style: italic;
    padding-top: 3%;
    font-size: 20px;
}
.main_base{
    border-radius: 20px;
    width: 70%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 15.7%;
    padding: 3%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}
.main_base_foto{
    display: flex;
    justify-content: center;
}