.head {   
    background-color: #687864;    
    border-radius: 50px;
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    margin: 1%;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 5px 4px #888;
}
.name{
    padding-top: 2.3%;
}
.buttnsInHeader{
    margin: 1%;
    padding-top: 1%;
    margin-left: 10%;
}
.imageInHeader{
    margin-left: 40%;
}